{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/admin.js')}}"></script>
{% endblock %}

{% block content %}
<div id="content-admin" class="content-text">
  <h1>Admin-Interface</h1>
  <table class="visible sortable table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Typ</th>
        <th>Straße</th>
        <th>Beschreibung</th>
        <th>Bild</th>
        <th>Autor</th>
        <th>Funktionen</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Typ</th>
        <th>Straße</th>
        <th>Beschreibung</th>
        <th>Bild</th>
        <th>Autor</th>
        <th>Funktionen</th>
      </tr>
    </tfoot>
    <tbody>
      {% for tree in trees %}
      <tr>
        <td>{{ tree.id }}</td>
        <td><img src="/static/js/images/{{ tree.type|deref_type }}" /></td>
        <td>{{ tree.address }}</td>
        <td>{{ tree.descr }}</td>
        <td class="admin-picture">{% if tree.picture %}<span>zeigen<img src="/static/img/tree/{{ tree.id }}-small.jpg" /></span>{% else %}-{% endif %}</td>
        <td>{{ tree.author }}<br /><a href="mailto:{{ tree.email }}">{{ tree.email }}</a></td>
        <td class="admin-action"><span onclick="update_value($(this), {'type': 'update', 'tree_id': {{ tree.id }}, 'field': 'public', 'value': '{{ '0' if tree.public else '1' }}' });">{{ 'depublizieren' if tree.public else 'publizieren' }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
</div>
{% endblock %}