{% extends "layout.html" %}

{% block content %}
<div id="content-tree-impressum" class="content-text">
  <h1>Impressum</h1>
  <p>Die Website hier-fehlt-ein-baum.de ist ein Projekt der Grünen Bochum.</p>
  <p>
    BÜNDNIS 90/DIE GRÜNEN Kreisverband Bochum<br />
    Vertretungsberechtiger: Der Kreisvorstand (V.i.S.d.P)<br />
    Diekampstraße 37<br />
    44787 Bochum<br />
  </p>
  <p>
    Telefon +49 0234 18767<br />
    Fax +49 0234 9160306
  </p>
  <p>
    E-Mail: <a href="mailto:info@gruene-bochum.de">info@gruene-bochum.de</a>
  </p>
  <h2>Realisierung durch</h2>
  <p>
    Ernesto Ruge<br />
    Zechenstraße 27<br />
    44791 Bochum<br />
  </p>
  
  <h2 id="datenverwendung">Verwendung der eingegebenen Daten</h2>
  <p>Alle auf der Website hier-fehlt-ein-baum.de eingegebenen Daten mit Ausnahme von Ihrem Namen und Ihrer Mailadresse werden veröffentlicht und kostenlos zur weiteren Verwendung freigegeben (es würde ja wenig Sinn machen, die Bäume zu sammeln, aber nicht zu veröffentlichen). Bitte beachten Sie dies bei der Erstellung, insbesondere in Zusammenhang mit hochgeladenen Bildern. Kurzum: Sie bestätigen mit dem Upload dass Sie volle Rechte an den hochgeladenen Bildern haben und lizensieren diese als <a href="http://de.wikipedia.org/wiki/Gemeinfreiheit">gemeinfrei</a>.</p>
  
  <h2>Datenschutzerklärung</h2>
  <p>Wir wissen, dass Sie dem Thema Datenschutz große Bedeutung beimessen. Deshalb ist uns der Schutz Ihrer persönlichen Daten ein wichtiges Anliegen.</p>

  <p><strong>Persönliche Daten</strong></p>
  <p>Persönliche Daten, die Sie uns elektronisch übermitteln, z.B. Ihren Namen, Postanschrift, E-Mail-Adresse oder andere persönlichen Angaben, werden von uns nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben. Wir werden Ihnen nur Informationen zuschicken, sofern Sie sich für entsprechende Dienste angemeldet haben.</p>

  <p><strong>Recht auf Widerruf</strong></p>
  <p>Sie haben jederzeit das Recht auf Widerruf; schicken Sie bitte eine Mail an uns. Ich werde Ihre Daten dann umgehend löschen.</p>

  <p><strong>Links zu anderen Websites</strong></p>
  <p>Sie finden auf unseren Seiten Links zu anderen Seiten im Internet. Für alle diese Links und Banner gilt, dass ich keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben. Deswegen übernehmen wir auch keinerlei Verantwortung für Inhalt, Gestaltung und die Datenschutzbestimmungen dieser Seiten.</p>

  <p><strong>Verwendung von Cookies</strong></p>
  <p>Es gibt eine Technik, genannt "Cookies", mit deren Hilfe Informationen aus einer Website an Ihre Bedürfnisse angepasst werden können. Ein Cookie ist ein Datenelement, das eine Website an Ihren Browser schicken kann, um es dort auf Ihrem System zu speichern.</p>
  <p>Gelegentlich nutzen auch wir temporäre Cookies, damit wir Sie effektiver unterstützen können, wenn Sie auf eine solche Website zurückkommen. Sie haben jedoch die Möglichkeit, Ihren Browser so einzustellen, dass er Sie davon in Kenntnis setzt, wenn Sie ein Cookie erhalten. Dann können Sie selbst entscheiden, ob Sie das akzeptieren wollen oder nicht.</p>
  
  <p><strong>Verwendung von Piwik</strong></p>
  <p>Unsere Website verwendet Piwik, dabei handelt es sich um einen sogenannten Webanalysedienst. Piwik verwendet sog. "Cookies", das sind Textdateien, die auf Ihrem Computer gespeichert werden und die unsererseits eine Analyse der Benutzung der Webseite ermöglichen. Zu diesem Zweck werden die durch den Cookie erzeugten Nutzungsinformationen (einschließlich Ihrer gekürzten IP-Adresse) an unseren Server übertragen und zu Nutzungsanalysezwecken gespeichert, was der Webseitenoptimierung unsererseits dient. Ihre IP-Adresse wird bei diesem Vorgang umge­hend anony­mi­siert, so dass Sie als Nutzer für uns anonym bleiben. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden nicht an Dritte weitergegeben. Sie können die Verwendung der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern, es kann jedoch sein, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können.</p>
</div>
{% endblock %}