{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/default.js')}}"></script>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul id="flashes" class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div id="map"></div>
  <div id="details">
    <span id="close-sidebar" onclick="close_sidebar();">schließen</span>
    <h2>Willkommen!</h2>
    <p>Bei Ihnen im Viertel wurde ein Straßenbaum gefällt und nur der Stumpf ist übrig? Kein Baum wird nachgepflanzt? Das interessiert uns!</p>
    <div>
      <p style="background-image: url('/static/js/images/marker-icon-red.png');">Baum gefällt, noch nicht wieder neu gepflanzt</p>
      <p style="background-image: url('/static/js/images/marker-icon-green.png');">Baum gefällt und neu gepflanzt</p>
      <p style="background-image: url('/static/js/images/marker-icon-lightgreen.png');">Neupflanzung nicht möglich oder sinnvoll</p>
      <p style="background-image: url('/static/js/images/marker-icon.png');">Vorschlag für einen neuen Baum</p>
      <p style="background-image: url('/static/js/images/marker-icon-pink.png');">Baum wurde gefällt, es ist nicht bekannt, ob Neupflanzung erfolgt ist (<a href="/information#quelle-stadt">Woher kommen diese Punkte?</a>)</p>
    </div>
  </div>
{% endblock %}