{% extends "bootstrap/base.html" %}
{% block title %}Hier fehlt ein Baum!{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/leaflet.css" type="text/css" />
<link rel="stylesheet" href="{{url_for('.static', filename='css/lightbox.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/default.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/leaflet.js" type="text/javascript"></script>
<script src="{{url_for('.static', filename='js/lightbox.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/default.js')}}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <ul>
    <li><a href="/">Start</a></li>
    <li><a href="/new-tree">Neuer Baum</a></li>
    <li><a href="/information">Infos</a></li>
    <li><a href="http://gruene-bochum.de/meta-navigation/top/impressum/">Impressum</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div id="content-tree-info">
  <h1>Informationen</h1>
  <p>Bei Ihnen im Viertel wurde ein Baum auf einem städtischen Grundstück gefällt und nur der Stumpf ist übrig? Kein Baum wird nachgepflanzt? Das interessiert uns!</p>
  <p><img src='/static/js/images/marker-icon-red.png' alt='Roter Marker' />Baum gefällt, noch nicht wieder neu gepflanzt</p>
  <p><img src='/static/js/images/marker-icon-green.png' alt='Grüner Marker' />Baum gefällt und neu gepflanzt</p>
  <p><img src='/static/js/images/marker-icon.png' alt='Blauer Marker' />Vorschlag für einen neuen Baum</p>
  <p><img src='/static/js/images/marker-icon-pink.png' alt='Blauer Marker' />Baum gefällt, nicht bekannt, ob Neupflanzung erfolgt ist</p>
  <h2>Die Hintergründe</h2>
  <p>Mit unserer Website wollen wir allen Bürgern und Bürgerinnen die Möglichkeit geben, uns ihre Informationen über gefällte und nicht nachgepflanzte Bäume mitzuteilen. Über dieses „Baumlückenkataster“ können wir dann gezielt kontrollieren, ob angekündigte Ersatzpflanzungen auch wirklich erfolgt sind.</p>
  <p>In Bochum gibt es etwa 40.000 Straßenbäume. In der Vergangenheit wurden wegen knapper Haushaltsmittel viele gefällte Straßenbäume leider nicht nachgepflanzt. Inzwischen gibt es rund 600 verwaiste Baumscheiben. Damit gefällte Straßenbäume künftig sofort nachgepflanzt werden können, wurden auf Initiative der grünen Ratsfraktion die Mittel für Ersatzpflanzungen zu verdoppelt. Die Verwaltung wurde beauftragt den aufgelaufenen Rückstand aus vorhandenen Mitteln in den nächsten drei Jahren aufzuholen. Die grüne Ratsfraktion wird darauf achten, dass dies auch tatsächlich geschieht.</p>
  <p>Ein digitales Baumkataster, in dem alle Straßenbäume erfasst werden sollen, ist seit längerem geplant. Die Grünen im Rat werden sich dafür einsetzen, das für das nächste Jahr ausreichend Mittel zur Verfügung stehen. Das digitale Kataster ist notwendig, um stets einen schnellen und aktuellen Überblick über Bestand, Zustand und erforderliche Ersatzpflanzungen bei den Straßenbäumen zu ermöglichen. Der Aufbau wird allerdings mehrere Jahre dauern.</p>
  <p>Bisher konnten wir erreichen, das auf der Webseite der Stadt Bochum über geplante Baumfällungen vorab informiert wird. Dieses „Baumfällkataster“ ist am besten über die Suche zu finden. Die Informationen müssen allerdings noch viel benutzerfreundlicher dargestellt werden.</p>
  <p>Ohne politischen Druck besteht die Gefahr, dass der Eifer der Verwaltung bei den Ersatzpflanzungen erlahmt. Finanzielle Engpässe lassen sich bei der schwierigen Haushaltssituation immer finden. Zurzeit wissen viele Einzelne, wo gefällte Bäume nicht nachgepflanzt wurden. Uns fehlt aber ein Gesamtüberblick.</p>

</div>
{% endblock %}