{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/new-tree.js')}}"></script>
{% endblock %}

{% block content %}
<div id="content-tree-form" class="content-text">
  <h1>Neuen Baum hinzufügen</h1>
  {{ wtf.quick_form(tree_form, enctype='multipart/form-data') }}
  <p><strong>Genauer Ort</strong></p>
  <p>Markerposition kann mittels Drag'n'Drop korrigiert werden.</p>
  <div id="new-tree-map"></div>
</div>
{% endblock %}