
#navbar a, navbar a:hover {
  color: #FFFFFF;
}

.content-text a {
  color: #000000;
  text-decoration: underline;
}

.content-text a:hover {
  color: #000000;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 5px 10px;
  border: 0;
  min-height: 0;
}

.navbar ul {
  color: #FFFFFF;
  font-size: 20px;
  list-style: none;
  padding: 0;
  height: 19px;
}

.navbar li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#details {
  position: absolute;
  top: 39px;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: rgba(0,0,0,0.8);
}

#details h3 {
  font-size: 14px;
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  padding: 3px 0px;
  margin: 8px 0px 3px 0px;
}

#details p {
  padding: 0px 10px;
  margin-bottom: 5px;
}

#report-change, #report-image {
  margin-top: 0px;
  text-align: center;
  font-style: italic;
}

#report-change span, #report-image span {
  cursor: pointer;
}

#report-change input, #report-change select, #report-image input, #report-image select {
  background-color: transparent;
  border: 1px solid #999999;
  margin-top: 3px;
}

#details * {
  color: #FFFFFF;
}

#close-sidebar {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#details-team {
  font-style: italic;
}

select {
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #666666;
  width: 270px;
}

.content-text {
  margin: 50px 20px;
}

#content-tree-form form {
  margin-bottom: 20px;
}

#new-tree-map {
  margin-top: 20px;
  height: 500px;
}

#content-tree-info img {
  margin-right: 20px;
}

#content-admin a {
  color: #000000;
}
#content-admin .admin-action span {
  cursor: pointer;
}

#content-admin span {
  position: relative;
}

#content-admin .admin-picture span img {
  position: absolute;
  top: 20px;
  left: 0px;
  display: none;
  z-index: 10;
  border: 1px solid #000000;
}

#content-admin .admin-picture span:hover img {
  display: inline;
}

#flashes {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px 0;
  background-color: #006600;
  background-color: rgba(0, 60, 0, 0.8);
  z-index: 10;
  color: #FFFFFF;
  margin: 0;
  padding: 10px;
  padding: 10px;
  font-size: 20px;
}

@media (min-width: 350px) and (max-width: 500px) {
  .navbar ul {
    font-size: 16px;
    height: 15px;
  }
  
  #details {
    top: 35px;
  }
}


@media (max-width: 350px) {
  .navbar ul {
    font-size: 12px;
    height: 10px;
  }
  
  #details {
    top: 30px;
  }
}